main.main-container-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-color);
  min-height: 100vh;
}

article.aside-presentation{
  display: flex;
  flex-direction: column;
  width: 900px;
}

.aside-presentation > .clock-img{
  width: 53px;
  margin: 16px;
}

.aside-presentation > .text-todo-presentation{
  font-family: 'Telex';
  font-size: 24px;
  font-weight: 400;
  margin-left: 16px;
  color: var(--light-color);
}

.aside-presentation > .tasks-img{
  width: 480px;
  height: 500px;
  margin-top: auto;
  margin-left: auto;
  transform: translateX(128px);
}

article.form-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: var(--light-color);
}

.form-container{
  width: 455px;
}

h1.text-login{
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 32px;
}

.form-container > input{
  width: 450px;
  height: 40px;
  padding-left: 3px;
  margin-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #808080;
  font-weight: 500;
  font-size: 20px;
  color: #808080;
}

.form-container > .btn-login{
  width: 455px;
  height: 47px;
  margin-top: 32px;
  margin-bottom: 24px;
  border: 1px solid #E4D9D9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: var(--light-color);
  font-size: 24px;
  font-weight: 700;
  background-color: var(--primary-color);
  cursor: pointer;
}

.text-alternative-login-account{
  text-align: center;
  font-weight: 600;
}

.form-container > .signin-google{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 16px 0;
  transform: translateX(72px);
  column-gap: 12px;
  font-size: 18px;
  background-color: var(--light-color);
  color: #000;
}

.form-container > .signin-google > img{
  width: 30px;
  height: 30px;
}

.form-container > .text-no-account{
  font-size: 20px;
  font-weight: 500;
  color: #808080;
}

section.modal-login-success{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 560px;
  height: 56px;
  background-color: var(--success-color);
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 8px;
}

.container-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

.container-left > img.login-check-vetor{
  width: 22px;
  height: 22px;
}

.container-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
}

.container-right > button.btn-redirect-modal-login{
  width: 121px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #6ACE13;
  background-color: transparent;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
}

.container-right > img.close-modal-login{
  cursor: pointer;
}

section.modal-login-error{
  display: none;
  flex-direction: row;
  width: 450px;
  height: 72px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: var(--fail-color);
}

.modal-login-error > img{
  width: 23px;
  height: 20px;
  align-self: center;
  margin-right: 12px;
}

.modal-login-error > .container-text-modal-error{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 16px;
  font-family: 'Inter';
  font-size: 16px;
}

.container-text-modal-error > h4{
  font-weight: 600;
}

.container-text-modal-error > p{
  font-weight: 400;
  width: 270px;
}

.modal-login-error > button.btn-close-modal-error{
  width: 88px;
  height: 32px;
  align-self: center;
  border-radius: 4px;
  border: 1px solid #F1AA09;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}